.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 1px 1px;
    border-color: rgb(250, 250, 250);
    border-style: solid;
    .page-content {
        flex: 1 1 auto;
        position: relative;/* need this to position inner content */
        color:black;
        .chat-container {
            background-image: none;
            background-position: center center;
            background-repeat: repeat;
            background-size: cover;
            border-width: 0px 1px 1px;
            border-color: rgb(227, 227, 227);
            border-style: solid;
            padding: 0px;
            width: 100%;
            height: 85vh !important;
            overflow-y: scroll;
            overflow-x: hidden;
            transform: scaleY(1);
            .chat-said-area{
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                padding-left: 10px;
                width: 90%;
                .logo-area{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    .omi-text{
                        font-family: Josefin Sans;
                        font-size: 12px;
                        color: #b8b8b8;
                        text-decoration: none solid rgb(184, 184, 184);
                        line-height: 20px;
                        margin-top: 5px;
                    }
                    .img-logo {
                        width: 35px;
                        height: 35px;
                        float: left;
                    }
                   
                }
               .choice-user-said{
                width: 300px;
               margin-left: 15%;
               }
            }
            
            
            .chat-user-said-area {
                width: 300px;
                float:right;
                .chat-user-said  {
                    font-family: Josefin Sans;
                    font-size: 18px;
                    background-color: rgb(0, 215, 237);
                    background-image: none;
                    background-position: center center;
                    background-repeat: repeat;
                    background-size: cover;
                    border-radius: 10px 10px 0px;
                    border-width: 0px;
                    border-color: rgb(102, 102, 102);
                    border-style: solid;
                    padding: 10px;
                    width:auto;
                    max-width: 200px;
                    height: auto;
                    transform: rotate(0deg) translate(-10px, 10px);
                    margin-bottom: 10px;
                    float:right;
                    word-wrap: break-word;
                    text-align: left;
                    a {
                        color: rgb(255, 255, 255);
                        font-size: 18px;
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none;
                       
                    }
                }
            }
        
            .chat-omi-said {
                font-family: Josefin Sans;
                font-size: 18px;
                background-color: rgb(228, 242, 253);
                background-image: none;
                background-position: center center;
                background-repeat: repeat;
                background-size: cover;
                border-radius: 10px 10px 10px 0px;
                border-width: 0px;
                border-color: rgb(102, 102, 102);
                border-style: solid;
                padding: 10px;
                width:auto;
                max-width: 232px;
                height: auto;
                margin-bottom: 10px;
                transform: rotate(0deg) translate(10px, 10px);
                float:left;
                word-wrap: break-word;
                text-align: left;
                a {
                    font-size: 18px;
                    line-height: 1.5;
                    color: #878787;
                    font-weight: 400;
                    text-decoration: none solid rgb(135, 135, 135);
                } 
            }

            .properties-detailArea{
                width: 90%;
                height: 60px;
                border: 1px solid #3895ba;
                border-radius: 7px;
                background-color: #fff;
                background-size: cover;
                box-shadow: 0px 26px 26px -25px rgba(56,149,186,1);
                display: flex;
                flex-direction: row;
                margin-left: auto;
                margin-right: auto;
                padding-left:20px;
                padding-top:25px;
                margin-top: 20px;
                margin-bottom: 20px;
                .text {
                   
                    font-family: Josefin Sans;
                    font-size: 16px;
                    color: #6b6b6b;
                    text-decoration: none solid rgb(107, 107, 107);
                    line-height: 17px;
                    margin-right: 25%;

                }
                .link {
                 
                    font-family: Josefin Sans;
                    font-size: 16px;
                    color: #48c5e8;
                    text-decoration: none solid rgb(72, 197, 232);
                    line-height: 17px;
                    text-align: right;
                    cursor: pointer;
                    
                }
            }
        }
    }
    .page-footer {
        flex: 0 0 auto;
        .input-container {
            font-family: Josefin Sans;
            font-size: 18px;
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 99%;
            border-radius: 0px 0px 0px 0px;
            border-style: solid;
            border-color: rgb(227, 227, 227);
            border-width: 1px;
            border-top: none;
            bottom: 0;
        }
        .icon {
            padding: 7px 7px 7px 7px;
            color: white;
            min-width: 25px;
            align-items: center;
            margin-top: 4px;
                
        }
        .input-field {
            font-family: Josefin Sans;
            font-size: 18px;
            width: 100%;
            padding-right: 10px;
            outline: none;
            opacity: 1;
            background-color: rgb(255, 255, 255);
            border: none;
            color: rgb(107, 107, 107);
            margin: 0px 10px;
            text-align: left;
            font-weight: normal;
            font-style: normal;
            background-image: none;
            background-position: center center;
            background-repeat: repeat;
            background-size: cover;
            height: 44px;
        }
        
    }
}

p {
    font-size: 18px;
}

@media only screen and (max-width: 1600px) {
    .chat-container {
        height: 725px !important;
    }
}
@media only screen and (width: 1024px) {
    .chat-container {
        position: fixed;
        height: 590px !important;
        width: 250px !important;
        border-width: 1px !important;
        .chat-omi-said {
            max-width: 180px !important;
        }

        .chat-user-said {
            max-width: 180px !important;
        }
    }

    .page-footer {
        position: fixed !important;
        top: 735px !important;
        width: 253px !important;
    }

    p {
        font-size: 14px !important;
    }
}