.chat-area{
    height :100%;
    .chat-body {
        background-color: red;
        height: 80%;
       
    }

    .chat-footer{
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 33px;
        //padding: 0px 0px 10px 0px;

        .chat-input {
            width: 90%;
        }
        .chat-button {
            width: 10%;
           margin-top: 7px;

        }
    }
}