
.form-edit{
    height: 100%;
  
   
   
    .el-dialog {
        width: 70%;
    }
    .el-dialog__header{
      display: none;
    }
    .el-dialog__body{
      padding-top:0px;
      background-color: #ffffff !important;
    }
    .form-content{
      height: 650px !important;
      overflow-y: scroll;
      overflow-x: hidden;
      padding:20px;
      padding-bottom: 20px;
    }
    .el-dialog__footer{
      text-align: center;
      background-color: #ffffff;
      border-top: #ebebeb;
      border-style: solid;
      border-width: 1px;
     
    }
    .save-edit-form {
      width: 20%;
      height: 56px;
      border-radius: 100px;
      background-color: #00d7ed;
      border-color: #00d7ed;
      background-size: cover;
    
     
      cursor: pointer;
      text-align: center;
      span {
        width: 100%;
        height: 23px;
        font-family: Josefin Sans;
        font-size: 14px;
        color: #ffffff;
        font-weight: 400;
        text-decoration: none solid rgb(255, 255, 255);
        margin-left:auto;
        margin-right:auto;
    }
    }
    .cancel-edit-form {
      width: 20%;
      height: 56px;
      border-radius: 100px;
      border-color: #ebebeb;
      background-color: #ebebeb;
      background-size: cover;
      padding-top: 15px;
      cursor: pointer;
      text-align: center;
      span {
        width: 100%;
        height: 23px;
        font-family: Josefin Sans;
        font-size: 14px;
        color: #e8756f;
        font-weight: 400;
        text-decoration: none solid rgb(255, 255, 255);
        margin-left:auto;
        margin-right:auto;
    }
    
    }
  }

  
.feedback{
  height: 100%;

 
 
  .el-dialog {
      width: 80%;
  }
  
  .el-dialog__body{
    padding-top:0px;
    background-color: #ffffff !important;
  }
  .form-content{
    height: 650px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    padding:20px;
    padding-bottom: 20px;
  }
  .el-dialog__footer{
    text-align: center;
    background-color: #ffffff;
    border-top: #ebebeb;
    border-style: solid;
    border-width: 1px;
   
  }
  .save-edit-form {
    width: 20%;
    height: 56px;
    border-radius: 100px;
    background-color: #00d7ed;
    border-color: #00d7ed;
    background-size: cover;
  
   
    cursor: pointer;
    text-align: center;
    span {
      width: 100%;
      height: 23px;
      font-family: Josefin Sans;
      font-size: 14px;
      color: #ffffff;
      font-weight: 400;
      text-decoration: none solid rgb(255, 255, 255);
      margin-left:auto;
      margin-right:auto;
  }
  }
  .cancel-edit-form {
    width: 20%;
    height: 56px;
    border-radius: 100px;
    border-color: #ebebeb;
    background-color: #ebebeb;
    background-size: cover;
    padding-top: 15px;
    cursor: pointer;
    text-align: center;
    span {
      width: 100%;
      height: 23px;
      font-family: Josefin Sans;
      font-size: 14px;
      color: #e8756f;
      font-weight: 400;
      text-decoration: none solid rgb(255, 255, 255);
      margin-left:auto;
      margin-right:auto;
  }
  
  }
}